.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* .dark {
  background-color: #333 !important;
  color: #fff !important;
}

.light {
  background-color: #fff !important;
  color: #333 !important;
} */
